<div class="homepage-wrapper">
      <div class="homepage-announcement">
        Shop New Arrivals: The Picnic Gingham Group is here <span>(๑♡๑)</span>
      </div>
      <div class="homepage-hero">
        <img src="//via.placeholder.com/1200x800" alt="Hero Image" />
      </div>
    </div>
