<div class="contact-us">
  <h2>Contact Us</h2>
  <p>For international Inquiry, please contact us via <a href="mailto:extracurricular.info@gmail.com">extracurricular.info@gmail.com</a></p>
  <p>For domestic inquiry, please contact us LINE @EXTRACURRICULAR</p>
  <h3>About Us: Shipping</h3>
  <p>For domestic shipping, all orders will be shipped within 1-2 business days.</p>
  <p>For international shipping, please allow 3-5 business days for processing of all orders.</p>
  <p>You will receive a tracking number once your order is shipped, so please ensure your delivery address is correct. We are not responsible for and do not refund lost, stolen, or damaged packages.</p>
  <h3>Exchange and Return Policy</h3>
  <p>We do not offer refunds for returns at this time.</p>
  <p>We do accept sizing exchange within 7 days. However, customers are responsible for all shipping expenses related to the exchanges.</p>
  <p>Please note that all returns must be new, unused, and with the original tags still attached. All returns will be checked.</p>
  <p>For any further information regarding sizing exchange, please feel free to contact us via <a href="mailto:extracurricular.info@gmail.com">extracurricular.info@gmail.com</a> or LINE @EXTRACURRICULAR</p>
</div>
