<div class="stockist">
  <h2>Stockist</h2>
  <ul>
    <li>
      <strong>TRES</strong><br>
      Siam Square Soi 5, Khwaeng Pathum Wan, Pathum Wan, Bangkok 10330<br>
      Monday – Sunday 12:00PM – 9:00PM<br>
      (+66) 84 998 0629
    </li>
    <li>
      <strong>LOFTEYES</strong><br>
      140, 2 fl. Thong Lo 4 Alley, Khlong Tan Nuea, Watthana, Bangkok 10110<br>
      Monday – Sunday 10:00PM – 7:00PM<br>
      (+66) 93 391 3945
    </li>
  </ul>
</div>
