<div class="our-story">
  <h2>Our Story</h2>
  <p>EXTRACURRICULAR is a Bangkok based ready-to-wear brand born out of love for classic and vintage aesthetics.</p>
  <p>Personally, I've always been drawn to vintage shopping, as I often find unique pieces with classic character. However, many of these pieces, while charming, tend to be difficult to style and irrelevant to contemporary context as they often lack practicality for day-to-day use, making them more of an occasional choice. which led to the inspiration behind EXTRACURRICULAR.</p>
  <p>Our mission is to offer pieces that are unique and full of character, yet still easy to wear and relevant in today’s context. We want people who wear our clothes to be able to express their character everyday through pieces that are different yet relevant.</p>
  <p>We believe that clothes are meant to be lived in— to gain experiences — while providing uniqueness and individuality, a timeless yet extraordinary pieces.</p>
  <h3>Collections:</h3>
  <ul>
    <li>F/W24 DenimCollection</li>
    <li>S/S24 Bring back the Classics</li>
  </ul>
</div>
